<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Kyle Herndon</title>
<link rel="stylesheet" type="text/css" href="main.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    
<script>
var app = angular.module('cardApp', []);
app.controller('cards', function($scope) {
    $scope.titles = ['a','b','c','d','e','f'];})
//function getCard(i){ angular.element($('#infopage')).style.translate(0px,0px)};
</script>
    
</head>

<body>

<div id="header">
    <h1>Kyle Herndon</h1>
</div>
    
<div ng-app="cardApp" ng-controller="cards" id="section">    
<p>Name : <input type="text" ng-model="f"></p>
<div ng-repeat="x in titles | filter:f" class="card" ng-click="getCard({{x}})">
    {{x}}
</div>
</div>
    
<div ng-app="cardApp" ng-controller="cards" id="infopage">
    Info
</div>

<div id="footer">
    
</div>
    
</body>
</html>